<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- PROMENI za HealthMonitoringService -->
		<add key="BaseUrl" value="https://localhost:5005" />
		<!-- Opciono, ako servis traži bearer token / API key -->
		<add key="ApiKey" value="" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>